.buildpath
.settings/
.project
*.patch
.idea/
.git/
tmp/
vendor/
*.lock
*.phar
*.log
*.tgz
*.txt
*.cache
.phpintel/
.env
.phpstorm.meta.php
.DS_Store
.kite.php
bin/php-cs-fixer
/plugin/local/
node_modules/
